html,
body{
  margin: 0;
  padding: 0;
  background-color: #ddd;
  display: flex;
  justify-content: center;
}

div {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #ccc;
  align-items: center;
}
